.ui-dialog{
    z-index:1001; /* Position it above the bootstrap navbar */
    font-size:14px;
}
.ui-dialog, .ui-dialog-content {
    box-sizing: content-box;
}
.flex-row{
    display:flex;
    flex-direction:row;
}
.annotation-ui-mainwindow .templates{
    display:none;
}
.annotation-ui-mainwindow{
    color:black;
    overflow:hidden;
    display:grid;
    grid-template-rows: auto auto minmax(4em, 1fr) auto;
}
.annotation-visibility-controls{
    display:flex;
    flex-grow:0;
    flex-shrink:0;
    border-bottom:thin gray solid;
    padding-bottom:2px;
    margin-bottom:2px;
}
.annotation-visibility-controls .visibility-buttons{
    flex-grow:0;
    display:flex;
    margin-right:5px;
}
.annotation-ui-mainwindow button.btn{
    padding:0 3px;
}
.file-button{
    padding:0.1em 0.5em;
    margin-right:0.3em;
}
.annotation-ui label{
    margin:0;
}
.annotation-ui-feature-collections{
    overflow:auto;
    border-bottom:thin gray solid;
}
.annotation-ui-feature-collections:empty::before {
    content: 'Click below to begin a new feature collection';
    color: gray;
}
.feature-collection{
    border: thin transparent solid;
    padding:2px;
    opacity:0.1;
}
.annotation-ui-feature-collections .feature-collection{
    transition: opacity 1s;
}
.annotation-ui-feature-collections .feature-collection.inserted:not(.trashed){
    opacity:1;
}
.annotation-ui-feature-collections .feature-collection:not(.trashed).selected{
    border:thin black solid;
    background-color:azure;
} 
.annotation-ui-feature-collections
    .feature-collection:not(.trashed,.annotation-hidden,.selected):hover, 
    .feature-collection.svg-hovered:not(.trashed):not(.annotation-hidden){
    background-color:lightgoldenrodyellow;
    border:thin black solid;
}
.feature-collection.annotation-hidden [data-action="hide"]{
    display:none;
}
.feature-collection:not(.annotation-hidden) [data-action="show"]{
    display:none;
}
.feature-collection.annotation-hidden .features{
    pointer-events:none;
    opacity:50%;
}
.annotation-ui-feature-collections .name{
    font-weight:bold;
}
.feature-item{
    margin-left:1em;
}
.editablecontent:not(.editing){
    cursor:default;
}
.editablecontent>[data-action]{
    margin-left:0.2em;
    cursor:pointer;
}
/* .editablecontent>[data-action]:not(.fa):not(.fa-solid){
    font-weight:lighter;
} */
.editablecontent.editing>.onhover, .editablecontent:not(:hover) .onhover{
    /* display:none; */
    visibility:hidden;
}
.editablecontent.editing .edit{
    border:thin gray solid;
    background-color:lightblue;
    padding:0 0.3em;
}
.feature-collection.trashed{
    background-color:darkred;
    opacity:0.3;
    pointer-events:none;
}
.feature-collection.trashed .annotation-header [data-action="trash"]{
    pointer-events:all;
    visibility:visible;
}
.feature-collection .toggle-list{
    flex-grow:0
}
.feature-collection .features{
    flex-grow:1;
}
.features.collapsed .features-list{
    display:none;
}
.features:not(.collapsed) .features-summary{
    display:none;
}
.features.collapsed [data-action="collapse-up"]{
    display:none;
}
.features:not(.collapsed) [data-action="collapse-down"]{
    display:none;
}
.features-summary:not([data-num-elements="1"]) .pluralize::before{
    content:'s';
}
.feature.selected{
    background-color:green;
}
.feature{
    cursor:default;
}
.annotation-ui-mainwindow.disabled .disable-when-annotations-hidden{
    opacity:0.5;
    pointer-events:none;
    cursor:not-allowed;
}
.annotation-ui-mainwindow.deactivated .disable-when-deactivated{
    opacity:0.5;
    pointer-events:none;
    cursor:not-allowed;
}


.annotation-ui-drawing-toolbar .pseudohidden, .annotation-ui-drawing-toolbar .invisible{
    visibility:hidden;
    width: 0;
    height: 0;
    overflow: hidden;
    padding:0;
    border:none;
}
.annotation-ui-drawing-toolbar{
    background-color:lightgray;
    display: grid;
}
.annotation-ui-drawing-toolbar button[disabled]{
    pointer-events:none;
    cursor:not-allowed;
    border:thin solid transparent;
}
.annotation-ui-drawing-toolbar button:not([disabled]){
    border:thin rgb(195, 195, 195) solid;
}
.annotation-ui-drawing-toolbar button:not([disabled]):hover{
    border:thin rgb(41, 41, 41) solid;
    z-index:2;
}
.annotation-ui-drawing-toolbar .dropdowns>*:not(.active){
    display:none;
}
.annotation-ui-drawing-toolbar>button.active, .annotation-ui-buttonbar>.btn.active{
    color:black;
    background-color:darkgray;
}
.annotation-ui-drawing-toolbar>button:not(.active), .annotation-ui-buttonbar>.btn:not(.active){
    color:rgb(62, 62, 62);
    background-color:lightgrey;
}
.dropdowns{
    color:black;
}
.dropdown{
    width:100%;
    display:grid;
    vertical-align: middle;
    column-gap:1em;
    grid-template-columns:auto;
}
/* brush-toolbar styles */
.dropdown.brush-toolbar{
    grid-template-columns: auto 1fr auto auto;    
}
/* end brush-toolbar styles */

/* polygon-toolbar styles */
.dropdown.polygon-toolbar{
    grid-template-columns: 1fr auto auto auto auto auto;    
}
.dropdown.polygon-toolbar button[data-action="simplify"]{
    margin-right:0.2em;
}
/* end polygon-toolbar styles */

/* linestring-toolbar styles */
.dropdown.linestring-toolbar{
    grid-template-columns: auto 1fr auto auto;
}
/* end linestring-toolbar styles */
canvas.selectable-layer{
    cursor:pointer;
}
canvas.point-tool-grab{
    cursor:grab;
}
canvas.point-tool-grabbing{
    cursor:grabbing;
}
canvas.rectangle-tool-resize{
    cursor:nesw-resize;
}
.tool-action[data-tool-action="segment"]{
    cursor:move;
}
.tool-action[data-tool-action="stroke"]{
    cursor:copy;
}
.tool-action[data-tool-action="segment-erase"]{
    cursor:not-allowed;
}
.tool-action[data-tool-action="colorpicker"]{
    cursor:none;
}

/* wand-toolbar styles */
.dropdown.wand-toolbar{
    grid-template-columns: 5em 1fr auto auto;
}

.wand-toolbar .threshold-container{
    display:flex;
    flex-direction:column;
}
.wand-toolbar .threshold-container label, .wand-toolbar .label{
    margin-bottom:0;
    font-size:0.8em;
}
/* .wand-toolbar .toggle .btn{
    padding:auto 4px;
    line-height:1;
} */
/* .wand-toolbar .toggle.btn-primary{
    margin-bottom:0;
} */
.wand-toolbar .toggles{
    display:grid;
    column-gap:2px;
    grid-template-columns:7em 5em 8em;
}
.wand-toolbar .option-toggle{
    display:grid;
    grid-template-rows:auto auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
}
.wand-toolbar .option-toggle:hover .option{
    background-color:darkgray;
}
.wand-toolbar .option-toggle .option:not(.selected){
    display:none;
}
/* End wand-toolbar styles */

.viewer-controls-topleft{
    display:flex;
}

/* style-toolbar styles */

.style-toolbar .style-row{
    display:grid;
    grid-template-columns:auto auto auto auto;
    column-gap:0.5em;
    align-items:center;
}
.style-toolbar .style-item{
    display:inline-block;
    width:7em;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left:0.5em;
    cursor:pointer;
}
.style-toolbar .style-item.selected{
    outline:medium lightskyblue solid;
}
.style-toolbar .hierarchy-up{
    cursor:pointer;
    padding:0 0.5em;
}
.style-toolbar input[type="number"]{
    width:3.5em;
}
.style-toolbar .colorpicker-row.hidden{
    display:none;
}
.style-toolbar .colorpicker-row{
    display:grid;
    grid-template-columns:repeat(4,auto)
}
.style-toolbar .preview{
    position:relative;
    display:block;
    background: repeating-conic-gradient(#d0d0d0 0% 25%, white 0% 50%) 
              50% / 20px 20px
}
.style-toolbar .preview::after{
    /* This is just so the height is set correctly since children are absolute positioned */
    content:'Preview';
    visibility:hidden;
}
.style-toolbar .preview .bg{
    display:block;
    position:absolute;
    outline:thin solid black;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.style-toolbar .preview .text{
    display:block;
    position:absolute;
    padding:0 0.2em;
}
.style-toolbar input[type="range"]{
    display:inline-block;
}

/* end style-toolbar styles */


.new-feature,.new-feature-collection{
    cursor:pointer;
}
.new-feature:hover,.new-feature-collection:hover{
    background-color:antiquewhite;
    outline:thin gray solid;
}
/* Annotation UI File Dialog Styles*/
.annotation-ui-filedialog{
    display:grid;
    grid-template-columns: 10fr 15fr 10fr;
}
.annotation-ui-filedialog>div{
    padding: 0 0.3em;
}
.annotation-ui-filedialog .featurecollection-selection{
    border-right:thin gray solid;
    border-left:thin gray solid;
}
.annotation-ui-filedialog .header{
    white-space: nowrap;
}
.annotation-ui-filedialog button{
    display:block;
}

.annotation-ui-filedialog .file-actions{
    display:flex;
    flex-direction:column;
}
.annotation-ui-filedialog .file-actions hr{
    margin: 5px 0;
}

button[disabled]{
    opacity:0.3;
}

.dropdown button[data-action="erase"].active{
    background-color:rgb(187, 86, 86);

}
.feature .bounding-element{
    margin-right:-1.2em;
}
.feature .bounding-element:not(.active){
    visibility:visible;
    color:lightgray;
}
.feature .bounding-element.active{
    visibility:visible;
    color:black;
}
.feature:not(:hover) .bounding-element:not(.active){
    display:none;
}

/* From bootstrap */
input[type=range] {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    /* font-weight: 400; */
    /* line-height: 1.42857143; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /* -ms-touch-action: manipulation;
    touch-action: manipulation; */
    cursor: pointer;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /* border-radius: 4px; */
}
.btn.btn-sm{
    font-size:12px;
}
