.editablecontent:not(.editing){
    cursor:default;
}
.editablecontent>.edit-button{
    margin-left:0.2em;
    cursor:pointer;
}
.editablecontent:not(:hover) .onhover{
    visibility:hidden;
}
.editablecontent.editing .text-content{
    /* border:thin gray solid; */
    background-color:white;
    padding:0 0.3em;
}
.editablecontent .text-content:empty::after{
    content:'Enter text...';
    color:gray;
    font-style:italic;
    font-weight:normal;
}