body{
    background-color:rgb(65, 64, 64);
}
.content{
    background-color:white;
    text-align:left;
    width:960px;
    padding:15px;
    position:relative;
    margin:0 auto;
    min-height:100%;
}

.viewer{
    position:relative;
    width:100%;
    height:80vh;
    border:thin black solid;
    border-radius:3px;
    box-shadow:0 5px 5px 5px gray;
}
.hidden{
    display:none;
}